# Python
__pycache__/
*.py[cod]
venv/
*.env
backend/app/model/*.onnx

# Node
node_modules/
.next/
*.log
.env*.local
build/
dist/

# IDE
.vscode/
.idea/
EOL
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# get_tree.sh

CLAUDE_OLD_md.txt